{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="textinput">
  <input type="text" class="textinput__input" name={{i18n name}} value="" id="{{id}}" />
  <label for="{{name}}" class="textinput__label">{{i18n title}}</label>
  <div class="textinput__error">
		{{i18n "Пожалуйста, заполните это поле"}}
  </div>
</div>
