{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="showcase__phone">
  <div class="showcase__name">
    {{i18n title}}
  </div>

  <div class="showcase__text">
    <div class="showcase__info">
      {{{i18n info}}}
    </div>

    {{#if url}}
    <div class="showcase__url">
      <a href="{{url}}" target="_blank" rel="nofollow">{{url}}</a>
    </div>
    {{/if}}

    {{#unless url}}
    <div class="showcase__url">
      {{i18n "Скоро запуск"}}
    </div>
    {{/unless}}
  </div>

  <img src={{i18n image}} class="showcase__image" />
</div>
