{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_small screen_blank app" id="product">
  <div class="container container_center app__container">
    <div class="app__title subheading center">
      {{i18n "Мы сделаем простое и понятное приложение"}}
    </div>

    <div class="description">
      {{i18n "Им удобно пользоваться клиентам и вашим сотрудникам. В приложении есть три интерфейса:"}}
    </div>
  </div>

  <div class="app-carousel">
    <div class="app-carousel__slider">
      <div class="app-carousel__slide">
        <img src={{i18n "../assets/images/client_1.png"}} />
      </div>

      <div class="app-carousel__slide">
        <div class="app-carousel__label">
        	{{i18n "Для клиента"}}
        </div>

        <img src={{i18n "../assets/images/client_2.png"}} />
      </div>

      <div class="app-carousel__slide">
        <img src={{i18n "../assets/images/client_3.png"}} />
      </div>

      <!-- -->

      <div class="app-carousel__slide">
        <img src={{i18n "../assets/images/constructor_1.png"}} />
      </div>

      <div class="app-carousel__slide">
        <div class="app-carousel__label">
        	{{i18n "Для сборщика"}}
				</div>

        <img src={{i18n "../assets/images/constructor_2.png"}} />
      </div>

      <div class="app-carousel__slide">
        <img src={{i18n "../assets/images/constructor_3.png"}} />
      </div>

      <div class="app-carousel__slide">
        <img src={{i18n "../assets/images/courier_1.png"}} />
      </div>

      <div class="app-carousel__slide">
        <div class="app-carousel__label">
        	{{i18n "Для курьера"}}
				</div>

				<img src={{i18n "../assets/images/courier_2.png"}} />
      </div>

      <div class="app-carousel__slide">
				<img src={{i18n "../assets/images/courier_3.png"}} />
      </div>
    </div>
  </div>
</div>
