{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_small interaction">
  <div class="container">
    <div class="interaction__title subheading center">
      {{i18n "Приложение позволяет постоянно взаимодействовать с клиентами"}}
    </div>

    <div class="interaction__cards">
      {{#> interaction_card title="Уведомления" image="../assets/images/bell.svg"}}
      {{i18n "Они быстро получат уведомление о новинках. Ассортимент в приложении автоматически обновляется из вашей CRM"}}
      {{/interaction_card}}

      {{#> interaction_card title="Интересный контент" image="../assets/images/content.svg"}}
      {{i18n "В приложение можно добавить вовлекающий контент: видео-рецепты, обзоры, отзывы, видео с кухни"}}
      {{/interaction_card}}

      {{#> interaction_card title="Клиентская база" image="../assets/images/clients.svg"}}
      {{i18n "Можно загрузить базу адресов. Вы будете информировать покупателей о скидках, акциях, индивидуальных предложениях"}}
      {{/interaction_card}}

      {{#> interaction_card title="Бонусная программа" image="../assets/images/bonus.svg"}}
      {{i18n "Приложение позволит запустить программы лояльности: ввести баллы, промокоды"}}
      {{/interaction_card}}

    </div>
  </div>
</div>
