{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen reasons">
  <div class="container">
    <div class="reasons__title subheading">
      {{i18n "Как моему бизнесу поможет приложение?"}}
    </div>

    <div class="reasons__cards">
      {{> card title="Для ресторанов" img="../assets/images/tray.svg" }}
      {{> card title="Для аптек" img="../assets/images/drug.svg" }}
      {{> card title="Для магазинов" img="../assets/images/product.svg" }}
    </div>

    <div class="reasons__reasons">
      {{#> reason number="1" title="Безопасность"}}
      {{i18n "Создаст безопасную альтернативу оффлайн-покупкам во время карантина"}}
      {{/reason }}

      {{#> reason number="2" title="Доставка"}}
      {{i18n "Поможет наладить доставку &mdash; есть интеграция с Доставистой или другими местными сервисами"}}
      {{/reason }}

      {{#> reason number="3" title="Поиск клиентов"}}
      {{i18n "Сохранит клиентов и поможет найти новых"}}
      {{/reason }}

      {{#> reason number="4" title="Лояльность"}}
      {{i18n "Повысит лояльность клиентов &mdash; им удобно делать заказ, они видят, что в приложении есть контент, который интересно смотреть и читать"}}
      {{/reason }}

      {{#> reason number="5" title="Увеличение среднего чека"}}
      {{i18n "Увеличит средний чек и кол-во покупок за счёт индивидуальных подборок товаров и информирования об акциях, скидках, предложениях"}}
      {{/reason }}
    </div>
  </div>
</div>
