{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_small risks">
	<div class="container">
		<div class="subheading center">
			{{i18n "Мы предусмотрели все риски"}}
		</div>

		<div class="risks__grid">
			<div class="risks__card">
				{{i18n "У нас большой опыт разработки и готовые платформы. Мы в короткие сроки создаем приложение и настраиваем его под конкретный бизнес"}}
			</div>

			<div class="risks__card">
				{{i18n "Приложение быстро выпускаем на рынок &mdash; всего за 3 рабочих дня"}}
			</div>

			<div class="risks__card">
				{{i18n "Наши приложения работают в рамках законодательства. Мы учитываем все юридические нюансы, поэтому можно не беспокоиться о проблемах с налоговой службой и другими инстанциями"}}
			</div>

		</div>

		<div class="center">
			{{#> contact_button}}
				{{i18n "Узнать подробности"}}
			{{/contact_button}}
		</div>
	</div>
</div>
