{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_small solution" id="price">
	<div class="container container__center center">
		<div class="subheading solution__title">
			{{i18n "Мы предлагаем &laquo;коробочное&raquo; решение в собственность или по подписке"}}
		</div>

		<div class="solution__grid">
			<div class="solution__card">
				<div class="solution__subtitle">SAAS</div>
				<p>{{i18n "Мобильное приложение с фирменным стилем"}}</p>
				<p>{{i18n "Данные и сервер находятся у разработчика"}}</p>
				<p>{{i18n "Разработка от 3-х дней"}}</p>
				<p>{{i18n "Подключение 200 т.руб, ежемесячно 55 т.руб"}}</p>
			</div>

			<div class="solution__card">
				<div class="solution__subtitle">{{i18n "&laquo;Коробочное решение&raquo;"}}</div>
				<p>{{i18n "Создаем фирменное мобильное приложение"}}</p>
				<p>{{i18n "Сервер и все данные принадлежат вам"}}</p>
				<p>{{i18n "Можете подключить любой сервис или интеграции"}}</p>
				<p>{{i18n "Разработка от 2-х недель, стоимость: 1&minus;1,5 млн. руб"}}</p>

			</div>

			<div class="solution__card">
				<div class="solution__subtitle">{{i18n "Индивидуальная разработка"}}</div>
				<p>{{i18n "Разрабатываем с &laquo;нуля&raquo; именно под ваш бренд"}}</p>
				<p>{{i18n "Вы владеете сервером и данными"}}</p>
				<p>{{i18n "Можете подключить любой сервис или интеграции"}}</p>
				<p>{{i18n "Разработка от 4-х месяцев, стоимость от 3 млн.руб"}}</p>
			</div>
		</div>

		{{#>contact_button}}
			{{i18n "Узнать подробности"}}
		{{/contact_button}}
	</div>
</div>
