{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="terms__wrap" id="terms_modal">
	{{> terms_modal }}

	<div class="terms__content">
		<div class="terms__text">
			<p>
				{{i18n "Мы используем файлы cookie, разработанные нашими специалистами и третьими лицами для анализа событий на нашем
				веб‑сайте, что позволяет нам улучшать взаимодействие с пользователями и обслуживание."}}
			</p>
			<p>
				{{i18n "Продолжая просмотр страниц нашего сайта, вы принимаете условия его использования."}}
			</p>
			<p>{{i18n "Более подробные сведения смотрите в нашей"}}
				<a href="{{i18n "/assets/terms.pdf"}}" target="_blank">
					{{i18n "Политике конфиденциальности"}}
				</a>
			</p>
		</div>

		<div class="terms__text_short">
			{{i18n "Мы используем файлы cookie"}}
			<br/>
			<a onClick="showMoreTermsModal()">
				{{i18n "Что это значит"}}
			</a>
		</div>

		<div class="terms__button">
			{{#> button onClick="hideTermsModal()" }}OK{{/ button}}
		</div>
	</div>
</div>
