{{! IceRock MAG Inc. Use of this source code is governed by the Mozilla Public License 2.0. }}

<div class="screen screen_small where">
  <div class="container container_center center">

    <div class="subheading">
      {{i18n "Где работает наше приложение?"}}
    </div>

    <div class="description where__description">
      <p>
        {{i18n "Мы создаем приложения для IOS и Android"}}
      </p>


      <p>
        {{i18n "Поддерживаем мультиплатформенную разработку на языке Kotlin."}}<br />
        {{i18n "Он позволяет написать приложение на одном языке сразу под 8 платформ"}}
			</p>
    </div>

    {{#> contact_button}}
    	{{i18n "Заказать консультацию"}}
    {{/contact_button}}
  </div>
</div>
